<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">プロトタイプ編集</h2>
      <%= render partial: 'form', status: :unprocessable_entity %>
    </div>
  </div>
</div>